In [1]:
#导入数据分析包 pandas
import pandas as pd



#----------pandas设置----------#

#显示的最大列数，如果超过会显示截断视图
pd.options.display.max_columns=200
#显示的最大行数，如果超过会显示截断视图
pd.options.display.max_rows=200
#截断视图显示的行数
pd.options.display.min_rows = 30
# 浮点数显示设置
pd.set_option('float_format', lambda x: '%.3f' % x)

In [2]:
# 定义数据所在路径
TRAIN_PATH = '../dataset/voice.csv'
TEST_PATH = '../dataset/voice.csv'

# 利用pandas读入csv数据
train_data = pd.read_csv(TRAIN_PATH)
test_data = pd.read_csv(TEST_PATH)

# 查看数据shape
print('shape of train: ', train_data.shape)
print('shape of test: ', test_data.shape)

shape of train:  (3168, 21)
shape of test:  (3168, 21)

In [3]:
# 查看数据的基本信息
display(train_data.head())
display(test_data.head())

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.060,0.064,0.032,0.015,0.090,0.075,12.863,274.403,0.893,0.492,0.000,0.060,0.084,0.016,0.276,0.008,0.008,0.008,0.000,0.000,male
1,0.066,0.067,0.040,0.019,0.093,0.073,22.423,634.614,0.892,0.514,0.000,0.066,0.108,0.016,0.250,0.009,0.008,0.055,0.047,0.053,male
2,0.077,0.084,0.037,0.009,0.132,0.123,30.757,1024.928,0.846,0.479,0.000,0.077,0.099,0.016,0.271,0.008,0.008,0.016,0.008,0.047,male
3,0.151,0.072,0.158,0.097,0.208,0.111,1.233,4.177,0.963,0.727,0.084,0.151,0.089,0.018,0.250,0.201,0.008,0.562,0.555,0.247,male
4,0.135,0.079,0.125,0.079,0.206,0.127,1.101,4.334,0.972,0.784,0.104,0.135,0.106,0.017,0.267,0.713,0.008,5.484,5.477,0.208,male

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.060,0.064,0.032,0.015,0.090,0.075,12.863,274.403,0.893,0.492,0.000,0.060,0.084,0.016,0.276,0.008,0.008,0.008,0.000,0.000,male
1,0.066,0.067,0.040,0.019,0.093,0.073,22.423,634.614,0.892,0.514,0.000,0.066,0.108,0.016,0.250,0.009,0.008,0.055,0.047,0.053,male
2,0.077,0.084,0.037,0.009,0.132,0.123,30.757,1024.928,0.846,0.479,0.000,0.077,0.099,0.016,0.271,0.008,0.008,0.016,0.008,0.047,male
3,0.151,0.072,0.158,0.097,0.208,0.111,1.233,4.177,0.963,0.727,0.084,0.151,0.089,0.018,0.250,0.201,0.008,0.562,0.555,0.247,male
4,0.135,0.079,0.125,0.079,0.206,0.127,1.101,4.334,0.972,0.784,0.104,0.135,0.106,0.017,0.267,0.713,0.008,5.484,5.477,0.208,male

In [4]:
# 查看数据的基本统计 - describe
display(train_data.describe())
display(test_data.describe())

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
count,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000
mean,0.181,0.057,0.186,0.140,0.225,0.084,3.140,36.568,0.895,0.408,0.165,0.181,0.143,0.037,0.259,0.829,0.053,5.047,4.995,0.174
std,0.030,0.017,0.036,0.049,0.024,0.043,4.241,134.929,0.045,0.178,0.077,0.030,0.032,0.019,0.030,0.525,0.063,3.521,3.520,0.119
min,0.039,0.018,0.011,0.000,0.043,0.015,0.142,2.068,0.739,0.037,0.000,0.039,0.056,0.010,0.103,0.008,0.005,0.008,0.000,0.000
25%,0.164,0.042,0.170,0.111,0.209,0.043,1.650,5.670,0.862,0.258,0.118,0.164,0.117,0.018,0.254,0.420,0.008,2.070,2.045,0.100
50%,0.185,0.059,0.190,0.140,0.226,0.094,2.197,8.318,0.902,0.396,0.187,0.185,0.141,0.046,0.271,0.766,0.023,4.992,4.945,0.139
75%,0.199,0.067,0.211,0.176,0.244,0.114,2.932,13.649,0.929,0.534,0.221,0.199,0.170,0.048,0.277,1.177,0.070,7.008,6.992,0.209
max,0.251,0.115,0.261,0.247,0.273,0.252,34.725,1309.613,0.982,0.843,0.280,0.251,0.238,0.204,0.279,2.958,0.459,21.867,21.844,0.932

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
count,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000,3168.000
mean,0.181,0.057,0.186,0.140,0.225,0.084,3.140,36.568,0.895,0.408,0.165,0.181,0.143,0.037,0.259,0.829,0.053,5.047,4.995,0.174
std,0.030,0.017,0.036,0.049,0.024,0.043,4.241,134.929,0.045,0.178,0.077,0.030,0.032,0.019,0.030,0.525,0.063,3.521,3.520,0.119
min,0.039,0.018,0.011,0.000,0.043,0.015,0.142,2.068,0.739,0.037,0.000,0.039,0.056,0.010,0.103,0.008,0.005,0.008,0.000,0.000
25%,0.164,0.042,0.170,0.111,0.209,0.043,1.650,5.670,0.862,0.258,0.118,0.164,0.117,0.018,0.254,0.420,0.008,2.070,2.045,0.100
50%,0.185,0.059,0.190,0.140,0.226,0.094,2.197,8.318,0.902,0.396,0.187,0.185,0.141,0.046,0.271,0.766,0.023,4.992,4.945,0.139
75%,0.199,0.067,0.211,0.176,0.244,0.114,2.932,13.649,0.929,0.534,0.221,0.199,0.170,0.048,0.277,1.177,0.070,7.008,6.992,0.209
max,0.251,0.115,0.261,0.247,0.273,0.252,34.725,1309.613,0.982,0.843,0.280,0.251,0.238,0.204,0.279,2.958,0.459,21.867,21.844,0.932

In [7]:
# 查看数据的基本统计 - info
display(train_data.info())
print('------------------------------------------')
display(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meanfreq  3168 non-null   float64
 1   sd        3168 non-null   float64
 2   median    3168 non-null   float64
 3   Q25       3168 non-null   float64
 4   Q75       3168 non-null   float64
 5   IQR       3168 non-null   float64
 6   skew      3168 non-null   float64
 7   kurt      3168 non-null   float64
 8   sp.ent    3168 non-null   float64
 9   sfm       3168 non-null   float64
 10  mode      3168 non-null   float64
 11  centroid  3168 non-null   float64
 12  meanfun   3168 non-null   float64
 13  minfun    3168 non-null   float64
 14  maxfun    3168 non-null   float64
 15  meandom   3168 non-null   float64
 16  mindom    3168 non-null   float64
 17  maxdom    3168 non-null   float64
 18  dfrange   3168 non-null   float64
 19  modindx   3168 non-null   float64
 20  label     3168 non-null   object
dtypes: float64(20), object(1)
memory usage: 519.9+ KB

None

------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meanfreq  3168 non-null   float64
 1   sd        3168 non-null   float64
 2   median    3168 non-null   float64
 3   Q25       3168 non-null   float64
 4   Q75       3168 non-null   float64
 5   IQR       3168 non-null   float64
 6   skew      3168 non-null   float64
 7   kurt      3168 non-null   float64
 8   sp.ent    3168 non-null   float64
 9   sfm       3168 non-null   float64
 10  mode      3168 non-null   float64
 11  centroid  3168 non-null   float64
 12  meanfun   3168 non-null   float64
 13  minfun    3168 non-null   float64
 14  maxfun    3168 non-null   float64
 15  meandom   3168 non-null   float64
 16  mindom    3168 non-null   float64
 17  maxdom    3168 non-null   float64
 18  dfrange   3168 non-null   float64
 19  modindx   3168 non-null   float64
 20  label     3168 non-null   object
dtypes: float64(20), object(1)
memory usage: 519.9+ KB

None